*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea
.idea/**

# build folder
/**/build
.transforms

# Don't ignore src files under build package
!**/src/**/build

# buildSrc
buildSrc/build/*

# build-logic
build-logic/plugin/build
build-logic/.gradle