<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuokkaUI">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".touchdelegate.TouchDelegateActivity"
            android:exported="true"
            android:title="@string/title_activity_touch_delegate" />
        <activity
            android:name=".anchor.window.DialogAnchorActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:title="@string/title_activity_dialog_anchor" />
        <activity
            android:name=".picker.ComponentPickerActivity"
            android:exported="true"
            android:title="@string/title_activity_picker_component" />
        <activity
            android:name=".picker.ComponentPickerComposableTestActivity"
            android:exported="true"
            android:title="@string/title_activity_picker_component_composable" />
        <activity
            android:name=".picker.ComponentPickerCustomTestActivity"
            android:exported="true"
            android:title="@string/title_activity_picker_component_custom" />
    </application>

</manifest>